/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #e2e8f0, #edf2f7); /* light gradient background */
    color: #333;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-attachment: fixed; /* makes the background fixed */
}

/* Container for content */
.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #2d3748; /* Dark background similar to Cayman theme */
    color: #fff;
    padding: 40px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

/* About Section */
#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#about .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

/* Skills Section */
#skills {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

#skills .column {
    width: 48%; /* each column will take up 48% of the available width */
}

#skills ul {
    list-style: none;
}

#skills li {
    margin: 10px 0;
    font-size: 1.1rem;
}

#skills li::before {
    content: '• '; /* Custom bullet point */
    color: #2d3748; /* Dark bullet color */
    font-size: 1.5rem; /* Adjust size of bullet */
}


/* GitHub Section */
#github {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#github ul {
    list-style: none;
}

#github li {
    margin: 10px 0;
}

#github a {
    color: #333;
    text-decoration: none;
}

#github a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #2d3748;
    color: white;
    border-radius: 8px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
